<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <i class="ri-information-line ri-xl before"></i>
      <ion-label>Detail</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <i class="ri-file-list-3-line ri-xl"></i>
      <ion-label>Quotation</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <i class="ri-thumb-up-line ri-xl"></i>
      <ion-label>Approval</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comment">
      <i class="ri-message-2-line ri-xl"></i>
      <ion-label>Comment</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <i class="ri-apps-2-line ri-xl"></i>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
