:host {
    ion-header {
        ion-toolbar {
            ion-icon {
                font-size: 25px;
                margin-right: 17px;
            }
            i {
                margin-right: 10px;
            }
            p {
                margin-top: 0px;
            }
        }
        > ion-item {
            margin-top: -5px;
            i {
                margin-right: 10px;
            }
            h2 {
                --color: var(--ion-color-dark);
                color: var(--ion-color-dark);
            }
        }
    }
    ion-footer{
        ion-toolbar {
            --background: #eceff4;
        }
    }
    ion-content {
        --background: #eceff4;
    }
}