
  <div class="add-chat">
    <ion-row *ngIf="_commentservices.msg != ''" class="message-content attachment b-b">
      <ion-col size="9" offset="1" class="ion-no-padding">
        <p class="fs-14 bold">1 Attachment</p>
      </ion-col>
      <ion-col size="2" align="center">
        <i class="ri-arrow-up-s-line ri-xl text-dark" style="
        position: absolute;
        top: 15px !important;
        right: 10px;" mode="ios"></i>
      </ion-col>
    </ion-row>
    <ion-row class="message-content" [ngClass]="_commentservices.msg == '' ? 'top-border' : ''">
      <ion-col size="1" class="icon-controls">
        <i class="ri-emotion-line ri-xl text-dark left" mode="ios"></i>
      </ion-col>
      <ion-col size="10" class="ion-no-padding">
        <ion-textarea [(ngModel)]="_commentservices.msg" (ionChange)="hide_attachment(false)" rows="1" mode="md" autoGrow="true" placeholder="Type your comment" type="text"></ion-textarea>
      </ion-col>
        <i class="ri-attachment-line ri-xl text-dark right" mode="ios" (click)="open_file('fileoption')"></i>
      </ion-col>
    </ion-row>
    <ion-button [disabled]="!_commentservices.msg" size="small" color="primary" class="round-btn" (click)="sendMessage()" shape="round">
      <ion-icon *ngIf="_commentservices.msg != ''" mode="ios" name="send"></ion-icon>
      <ion-icon *ngIf="_commentservices.msg == ''" class="fs-30" mode="ios" name="mic"></ion-icon>
    </ion-button>
  </div>

  <ion-fab *ngIf="btn" style="position: fixed; bottom: 0px" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="toogleVisibility()" id="fileoption" color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="open_file('audio-files')" class="ion-no-border no-shadow" color="danger">
        <i class="ri-volume-up-line ri-xl text-dark right" mode="ios"></i>
      </ion-fab-button>
      <ion-fab-button (click)="open_file('photo-files')" class="ion-no-border no-shadow" color="tertiary">
        <i class="ri-image-2-line ri-xl text-dark right" mode="ios"></i>
      </ion-fab-button>
      <ion-fab-button (click)="open_file('docs-files')" class="ion-no-border no-shadow" color="success">
        <i class="ri-file-text-line ri-xl text-dark right" mode="ios"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <input class="hidden" id="doc-files" accept="application/pdf, application/docx" type="file" multiple="true" />
  <input class="hidden" id="photo-files" accept="image/*" type="file" multiple="true" />
  <input class="hidden" id="audio-files" accept="audio/*" type="file" multiple="true" />